In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [13]:
df=['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign',
      'pdays','previous','poutcome','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed','y']

In [14]:
bank=pd.read_csv("C:/Users/karthika/Desktop/bank.csv",sep=';',names=df,header=0)

In [15]:
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [16]:
bank.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [17]:
bank.shape

(41188, 21)

In [18]:
bank.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [19]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

<b>Missing Value Analysis</b>

In [20]:
bank.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

<b>Label Encoding></b>

In [23]:
from sklearn import preprocessing

In [24]:
le=preprocessing.LabelEncoder()

In [25]:
le.fit(['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','emp.var.rate','cons.conf.idx','euribor3m','nr.employed','y'])

LabelEncoder()

In [26]:
label_encoder = preprocessing.LabelEncoder() 
bank['job']= label_encoder.fit_transform(bank['job'])
bank['marital']= label_encoder.fit_transform(bank['marital'])
bank['education']= label_encoder.fit_transform(bank['education'])
bank['default']= label_encoder.fit_transform(bank['default'])
bank['housing']= label_encoder.fit_transform(bank['housing'])
bank['loan']= label_encoder.fit_transform(bank['loan'])
bank['contact']= label_encoder.fit_transform(bank['contact'])
bank['month']= label_encoder.fit_transform(bank['month'])
bank['day_of_week']= label_encoder.fit_transform(bank['day_of_week'])
bank['poutcome']= label_encoder.fit_transform(bank['poutcome'])
bank['y']= label_encoder.fit_transform(bank['y'])

In [27]:
le.classes_

array(['age', 'campaign', 'cons.conf.idx', 'contact', 'day_of_week',
       'default', 'duration', 'education', 'emp.var.rate', 'euribor3m',
       'housing', 'job', 'loan', 'marital', 'month', 'nr.employed',
       'pdays', 'poutcome', 'previous', 'y'], dtype='<U13')

In [28]:
le.transform(['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','emp.var.rate','cons.conf.idx','euribor3m','nr.employed','y'])

array([ 0, 11, 13,  7,  5, 10, 12,  3, 14,  4,  6,  1, 16, 18, 17,  8,  2,
        9, 15, 19])

<b>Random Forest</b>

In [29]:
y=bank.y
x=bank[['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','emp.var.rate','cons.conf.idx','euribor3m','nr.employed']]

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression as LR
from sklearn.tree import DecisionTreeClassifier 
from sklearn.linear_model import LinearRegression as LS

In [31]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [33]:
scaler.fit(bank)

MinMaxScaler()

In [59]:
scalerdata=scaler.transform(bank)
print(scaler.transform(bank))

[[0.48148148 0.27272727 0.33333333 ... 0.95737928 0.85973535 0.        ]
 [0.49382716 0.63636364 0.33333333 ... 0.95737928 0.85973535 0.        ]
 [0.24691358 0.63636364 0.33333333 ... 0.95737928 0.85973535 0.        ]
 ...
 [0.48148148 0.45454545 0.33333333 ... 0.08932215 0.         0.        ]
 [0.33333333 0.81818182 0.33333333 ... 0.08932215 0.         1.        ]
 [0.7037037  0.45454545 0.33333333 ... 0.08932215 0.         0.        ]]

In [ ]:
dummy_var=pd.get_dummies(bank)

In [ ]:
dummy_var.columns

In [ ]:
scaler_data=scaler.fit(dummy_var)
scaler_data=scaler.transform(dummy_var)

In [60]:
X= pd.DataFrame(scalerdata)

In [61]:
from sklearn.feature_selection import SelectFromModel

In [62]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=100)

<b>RMSE</b>

In [63]:
from sklearn.linear_model import LogisticRegression as LR
model=LR(random_state=0).fit(train_x,train_y)
print("Train Score =",model.score(train_x,train_y))
print("Test Score =",model.score(test_x,test_y))
score1=model.score(test_x,test_y)
predicted_y=model.predict(test_x)
rmse1=mean_squared_error(test_y,predicted_y, squared=False)

Train Score = 0.9072230652503793
Test Score = 0.9075018208302986

C:\Users\karthika\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [64]:
<b>Logistic Regression</b>

SyntaxError: invalid syntax (Temp/ipykernel_11396/3312386423.py, line 1)

In [65]:
from sklearn.linear_model import LogisticRegression as LR
model=LR(random_state=0).fit(train_x,train_y)
print("Train Score =",model.score(train_x,train_y))
print("Test Score =",model.score(test_x,test_y))
score1=model.score(test_x,test_y)
predicted_y=model.predict(test_x)
rmse1=mean_squared_error(test_y,predicted_y, squared=False)

Train Score = 0.9072230652503793
Test Score = 0.9075018208302986

C:\Users\karthika\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

<b>Ada Boosting</b>

In [66]:
from sklearn.ensemble import AdaBoostRegressor
regress=AdaBoostRegressor(random_state=0, n_estimators=100)
regress.fit(train_x, train_y)
score2=regress.score(test_x,test_y)
prdic_y=regress.predict(test_x)
rmse2=mean_squared_error(test_y,prdic_y,squared=False)

<b>Navie Bayes</b>

In [67]:
from sklearn.naive_bayes import GaussianNB
model7=GaussianNB()
model7.fit(train_x,train_y)
score3=model7.score(test_x,test_y)
y7_pred=model7.predict(test_x)
rmse3=mean_squared_error(test_y,y7_pred,squared=False)

<b>SVM</b>

In [68]:
from sklearn.naive_bayes import GaussianNB
model7=GaussianNB()
model7.fit(train_x,train_y)
score3=model7.score(test_x,test_y)
y7_pred=model7.predict(test_x)
rmse3=mean_squared_error(test_y,y7_pred,squared=False)

<b>KNN</b>

In [69]:
from sklearn.neighbors import KNeighborsClassifier
model8= KNeighborsClassifier(n_neighbors=3)
model8.fit(train_x,train_y)
score5=model8.score(test_x,test_y)
y8_pred=model8.predict(test_x)
rmse5=mean_squared_error(test_y,y8_pred,squared=False)

In [70]:
from tabulate import tabulate

ModuleNotFoundError: No module named 'tabulate'

In [72]:
final_model= [('LogisticClassifier',score1,rmse1),
   ('AdaBoostClassifier',score2,rmse2),
   ('svm',score3,rmse3),
   ('Gaussian',score4,rmse4),
   ('k_neigbor',score5,rmse5)]

NameError: name 'score4' is not defined

In [73]:
dic={rmse1:score1,rmse2:score2,rmse3:score3,rmse4:score4,rmse5:score5}
max(zip(dic.values(),dic.keys()))

NameError: name 'rmse4' is not defined